<div class="container">
    <button class="back-btn" (click)="goBack()">Back</button>
    <div>
        <h2>{{movieDetails.title}}</h2>
        <div class="details-sum-box">
            <div><img src={{movieDetails.poster}} style="width: 100%;"></div>
            <div><span style="font-weight:600;">Summary: </span>{{movieDetails.summary}}</div>
        </div>
        <div>
            <h3 style="text-align: center;">Details</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Box Office</td>
                        <td>{{movieDetails.box_office | currency:'USD':'symbol':'1.0-1'}} million</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600;">Budget</td>
                        <td>${{movieDetails.budget}} million</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600;">Duration</td>
                        <td>{{movieDetails.duration | time}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600;">Producers</td>
                        <td>{{movieDetails.producers}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600;">Cinematographers</td>
                        <td>{{movieDetails.cinematographers}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
